RL-RepositoryClient/src/META-INF/wsdl/localhost_8080/RL-Repository/Repository.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://data.rlaas.ua.pt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://data.rlaas.ua.pt/" name="Repository">
<types>
<xsd:schema>
<xsd:import namespace="http://data.rlaas.ua.pt/" schemaLocation="http://localhost:8080/RL-Repository/Repository?xsd=1"/>
</xsd:schema>
</types>
<message name="storeRecordSet">
<part name="parameters" element="tns:storeRecordSet"/>
</message>
<message name="storeRecordSetResponse">
<part name="parameters" element="tns:storeRecordSetResponse"/>
</message>
<message name="getAllRecords">
<part name="parameters" element="tns:getAllRecords"/>
</message>
<message name="getAllRecordsResponse">
<part name="parameters" element="tns:getAllRecordsResponse"/>
</message>
<message name="getAllResults">
<part name="parameters" element="tns:getAllResults"/>
</message>
<message name="getAllResultsResponse">
<part name="parameters" element="tns:getAllResultsResponse"/>
</message>
<message name="storeResults">
<part name="parameters" element="tns:storeResults"/>
</message>
<message name="storeResultsResponse">
<part name="parameters" element="tns:storeResultsResponse"/>
</message>
<message name="getRecords">
<part name="parameters" element="tns:getRecords"/>
</message>
<message name="getRecordsResponse">
<part name="parameters" element="tns:getRecordsResponse"/>
</message>
<message name="getSchema">
<part name="parameters" element="tns:getSchema"/>
</message>
<message name="getSchemaResponse">
<part name="parameters" element="tns:getSchemaResponse"/>
</message>
<message name="getTaxonomyResults">
<part name="parameters" element="tns:getTaxonomyResults"/>
</message>
<message name="getTaxonomyResultsResponse">
<part name="parameters" element="tns:getTaxonomyResultsResponse"/>
</message>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="PersistenceException">
<part name="fault" element="tns:PersistenceException"/>
</message>
<portType name="Repository">
<operation name="storeRecordSet">
<input wsam:Action="http://data.rlaas.ua.pt/Repository/storeRecordSetRequest" message="tns:storeRecordSet"/>
<output wsam:Action="http://data.rlaas.ua.pt/Repository/storeRecordSetResponse" message="tns:storeRecordSetResponse"/>
</operation>
<operation name="getAllRecords">
<input wsam:Action="http://data.rlaas.ua.pt/Repository/getAllRecordsRequest" message="tns:getAllRecords"/>
<output wsam:Action="http://data.rlaas.ua.pt/Repository/getAllRecordsResponse" message="tns:getAllRecordsResponse"/>
</operation>
<operation name="getAllResults">
<input wsam:Action="http://data.rlaas.ua.pt/Repository/getAllResultsRequest" message="tns:getAllResults"/>
<output wsam:Action="http://data.rlaas.ua.pt/Repository/getAllResultsResponse" message="tns:getAllResultsResponse"/>
</operation>
<operation name="storeResults">
<input wsam:Action="http://data.rlaas.ua.pt/Repository/storeResultsRequest" message="tns:storeResults"/>
<output wsam:Action="http://data.rlaas.ua.pt/Repository/storeResultsResponse" message="tns:storeResultsResponse"/>
</operation>
<operation name="getRecords">
<input wsam:Action="http://data.rlaas.ua.pt/Repository/getRecordsRequest" message="tns:getRecords"/>
<output wsam:Action="http://data.rlaas.ua.pt/Repository/getRecordsResponse" message="tns:getRecordsResponse"/>
</operation>
<operation name="getSchema">
<input wsam:Action="http://data.rlaas.ua.pt/Repository/getSchemaRequest" message="tns:getSchema"/>
<output wsam:Action="http://data.rlaas.ua.pt/Repository/getSchemaResponse" message="tns:getSchemaResponse"/>
</operation>
<operation name="getTaxonomyResults">
<input wsam:Action="http://data.rlaas.ua.pt/Repository/getTaxonomyResultsRequest" message="tns:getTaxonomyResults"/>
<output wsam:Action="http://data.rlaas.ua.pt/Repository/getTaxonomyResultsResponse" message="tns:getTaxonomyResultsResponse"/>
</operation>
<operation name="operation">
<input wsam:Action="http://data.rlaas.ua.pt/Repository/operationRequest" message="tns:operation"/>
<output wsam:Action="http://data.rlaas.ua.pt/Repository/operationResponse" message="tns:operationResponse"/>
<fault message="tns:PersistenceException" name="PersistenceException" wsam:Action="http://data.rlaas.ua.pt/Repository/operation/Fault/PersistenceException"/>
</operation>
</portType>
<binding name="RepositoryPortBinding" type="tns:Repository">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="storeRecordSet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllRecords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllResults">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeResults">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRecords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSchema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTaxonomyResults">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PersistenceException">
<soap:fault name="PersistenceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Repository">
<port name="RepositoryPort" binding="tns:RepositoryPortBinding">
<soap:address location="http://localhost:8080/RL-Repository/Repository"/>
</port>
</service>
</definitions>