RL-RepositoryClient/src/META-INF/wsdl/localhost_8080/RL-Repository/Repository.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://data/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://data/" name="Repository">
<types>
<xsd:schema>
<xsd:import namespace="http://data/" schemaLocation="http://localhost:8080/RL-Repository/Repository?xsd=1"/>
</xsd:schema>
</types>
<message name="storeRecordSet">
<part name="parameters" element="tns:storeRecordSet"/>
</message>
<message name="storeRecordSetResponse">
<part name="parameters" element="tns:storeRecordSetResponse"/>
</message>
<message name="getResults">
<part name="parameters" element="tns:getResults"/>
</message>
<message name="getResultsResponse">
<part name="parameters" element="tns:getResultsResponse"/>
</message>
<message name="getRecords">
<part name="parameters" element="tns:getRecords"/>
</message>
<message name="getRecordsResponse">
<part name="parameters" element="tns:getRecordsResponse"/>
</message>
<portType name="Repository">
<operation name="storeRecordSet">
<input wsam:Action="http://data/Repository/storeRecordSetRequest" message="tns:storeRecordSet"/>
<output wsam:Action="http://data/Repository/storeRecordSetResponse" message="tns:storeRecordSetResponse"/>
</operation>
<operation name="getResults">
<input wsam:Action="http://data/Repository/getResultsRequest" message="tns:getResults"/>
<output wsam:Action="http://data/Repository/getResultsResponse" message="tns:getResultsResponse"/>
</operation>
<operation name="getRecords">
<input wsam:Action="http://data/Repository/getRecordsRequest" message="tns:getRecords"/>
<output wsam:Action="http://data/Repository/getRecordsResponse" message="tns:getRecordsResponse"/>
</operation>
</portType>
<binding name="RepositoryPortBinding" type="tns:Repository">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="storeRecordSet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getResults">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRecords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Repository">
<port name="RepositoryPort" binding="tns:RepositoryPortBinding">
<soap:address location="http://localhost:8080/RL-Repository/Repository"/>
</port>
</service>
</definitions>