RL-RepositoryClient/src/META-INF/wsdl/localhost_8080/RL-Repository/Repository.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://data/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://data/">

<xs:element name="getRecords" type="tns:getRecords"/>

<xs:element name="getRecordsResponse" type="tns:getRecordsResponse"/>

<xs:element name="getResults" type="tns:getResults"/>

<xs:element name="getResultsResponse" type="tns:getResultsResponse"/>

<xs:element name="storeRecordSet" type="tns:storeRecordSet"/>

<xs:element name="storeRecordSetResponse" type="tns:storeRecordSetResponse"/>

<xs:complexType name="getResults">
<xs:sequence>
<xs:element name="resultSetId" type="xs:string" minOccurs="0"/>
<xs:element name="taxonomy" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResultsResponse">
<xs:sequence>
<xs:element name="return" type="tns:result" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="result">
<xs:sequence>
<xs:element name="matches" type="tns:match" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="referenceRecord" type="tns:record" minOccurs="0"/>
<xs:element name="taxonomyKey" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="match">
<xs:sequence>
<xs:element name="matchingRecord" type="tns:record" minOccurs="0"/>
<xs:element name="score" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="record">
<xs:sequence>
<xs:element name="fieldValues" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sourceId" type="xs:string" minOccurs="0"/>
<xs:element name="taxonomy" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRecords">
<xs:sequence>
<xs:element name="recordSetId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRecordsResponse">
<xs:sequence>
<xs:element name="return" type="tns:record" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeRecordSet">
<xs:sequence>
<xs:element name="recordSet" type="tns:recordSet" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recordSet">
<xs:sequence>
<xs:element name="records" type="tns:record" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="schema" type="tns:schema" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="schema">
<xs:sequence>
<xs:element name="fieldNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeRecordSetResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>