RL-RepositoryClient/src/META-INF/wsdl/localhost_8080/RL-Repository/Repository.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://data/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://data/">

<xs:element name="PersistenceException" type="tns:PersistenceException"/>

<xs:element name="getAllRecords" type="tns:getAllRecords"/>

<xs:element name="getAllRecordsResponse" type="tns:getAllRecordsResponse"/>

<xs:element name="getAllResults" type="tns:getAllResults"/>

<xs:element name="getAllResultsResponse" type="tns:getAllResultsResponse"/>

<xs:element name="getRecords" type="tns:getRecords"/>

<xs:element name="getRecordsResponse" type="tns:getRecordsResponse"/>

<xs:element name="getTaxonomyResults" type="tns:getTaxonomyResults"/>

<xs:element name="getTaxonomyResultsResponse" type="tns:getTaxonomyResultsResponse"/>

<xs:element name="operation" type="tns:operation"/>

<xs:element name="operationResponse" type="tns:operationResponse"/>

<xs:element name="storeRecordSet" type="tns:storeRecordSet"/>

<xs:element name="storeRecordSetResponse" type="tns:storeRecordSetResponse"/>

<xs:element name="storeResults" type="tns:storeResults"/>

<xs:element name="storeResultsResponse" type="tns:storeResultsResponse"/>

<xs:complexType name="getTaxonomyResults">
<xs:sequence>
<xs:element name="resultSetId" type="xs:string" minOccurs="0"/>
<xs:element name="taxonomy" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTaxonomyResultsResponse">
<xs:sequence>
<xs:element name="return" type="tns:result" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="result">
<xs:sequence>
<xs:element name="matches" type="tns:match" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="referenceRecord" type="tns:record" minOccurs="0"/>
<xs:element name="taxonomyKey" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="match">
<xs:sequence>
<xs:element name="matchingRecord" type="tns:record" minOccurs="0"/>
<xs:element name="score" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="record">
<xs:sequence>
<xs:element name="fieldValues" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sourceId" type="xs:string" minOccurs="0"/>
<xs:element name="taxonomy" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllRecords">
<xs:sequence>
<xs:element name="recordSetId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllRecordsResponse">
<xs:sequence>
<xs:element name="return" type="tns:record" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRecords">
<xs:sequence>
<xs:element name="recordSetId" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="size" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRecordsResponse">
<xs:sequence>
<xs:element name="return" type="tns:record" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeResults">
<xs:sequence>
<xs:element name="results" type="tns:result" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="schema" type="tns:schema" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="schema">
<xs:sequence>
<xs:element name="fieldNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeResultsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeRecordSet">
<xs:sequence>
<xs:element name="recordSet" type="tns:recordSet" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recordSet">
<xs:sequence>
<xs:element name="records" type="tns:record" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="schema" type="tns:schema" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeRecordSetResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllResults">
<xs:sequence>
<xs:element name="resultSetId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllResultsResponse">
<xs:sequence>
<xs:element name="return" type="tns:result" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="operationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PersistenceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>