RL-PluginSlotClient/xml-resources/web-service-references/PluginSlot/wsdl/localhost_8080/PluginSlot/PluginSlot.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pluginslot.ua.pt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pluginslot.ua.pt/" name="PluginSlot">
<wsp:Policy wsu:Id="PluginSlotPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://pluginslot.ua.pt/" schemaLocation="http://localhost:8080/PluginSlot/PluginSlot?xsd=1"/>
</xsd:schema>
</types>
<message name="push">
<part name="parameters" element="tns:push"/>
</message>
<message name="pushResponse">
<part name="parameters" element="tns:pushResponse"/>
</message>
<message name="start">
<part name="parameters" element="tns:start"/>
</message>
<message name="startResponse">
<part name="parameters" element="tns:startResponse"/>
</message>
<message name="stop">
<part name="parameters" element="tns:stop"/>
</message>
<message name="stopResponse">
<part name="parameters" element="tns:stopResponse"/>
</message>
<message name="addTask">
<part name="parameters" element="tns:addTask"/>
</message>
<message name="addTaskResponse">
<part name="parameters" element="tns:addTaskResponse"/>
</message>
<message name="UploadPluginSet">
<part name="parameters" element="tns:UploadPluginSet"/>
</message>
<message name="UploadPluginSetResponse">
<part name="parameters" element="tns:UploadPluginSetResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<portType name="PluginSlot">
<operation name="push">
<input wsam:Action="http://pluginslot.ua.pt/PluginSlot/pushRequest" message="tns:push"/>
<output wsam:Action="http://pluginslot.ua.pt/PluginSlot/pushResponse" message="tns:pushResponse"/>
</operation>
<operation name="start">
<input wsam:Action="http://pluginslot.ua.pt/PluginSlot/startRequest" message="tns:start"/>
<output wsam:Action="http://pluginslot.ua.pt/PluginSlot/startResponse" message="tns:startResponse"/>
</operation>
<operation name="stop">
<input wsam:Action="http://pluginslot.ua.pt/PluginSlot/stopRequest" message="tns:stop"/>
<output wsam:Action="http://pluginslot.ua.pt/PluginSlot/stopResponse" message="tns:stopResponse"/>
</operation>
<operation name="addTask">
<input wsam:Action="http://pluginslot.ua.pt/PluginSlot/addTaskRequest" message="tns:addTask"/>
<output wsam:Action="http://pluginslot.ua.pt/PluginSlot/addTaskResponse" message="tns:addTaskResponse"/>
</operation>
<operation name="UploadPluginSet">
<input wsam:Action="http://pluginslot.ua.pt/PluginSlot/UploadPluginSetRequest" message="tns:UploadPluginSet"/>
<output wsam:Action="http://pluginslot.ua.pt/PluginSlot/UploadPluginSetResponse" message="tns:UploadPluginSetResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://pluginslot.ua.pt/PluginSlot/UploadPluginSet/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://pluginslot.ua.pt/PluginSlot/UploadPluginSet/Fault/IOException"/>
</operation>
</portType>
<binding name="PluginSlotPortBinding" type="tns:PluginSlot">
<wsp:PolicyReference URI="#PluginSlotPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="push">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="start">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="stop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UploadPluginSet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PluginSlot">
<port name="PluginSlotPort" binding="tns:PluginSlotPortBinding">
<soap:address location="http://localhost:8080/PluginSlot/PluginSlot"/>
</port>
</service>
</definitions>