RL-MasterClient/src/META-INF/wsdl/localhost_8080/RL-Master/Master.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rlaas.ua.pt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rlaas.ua.pt/" name="Master">
<types>
<xsd:schema>
<xsd:import namespace="http://rlaas.ua.pt/" schemaLocation="http://localhost:8080/RL-Master/Master?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://data.rlaas.ua.pt/" schemaLocation="http://localhost:8080/RL-Master/Master?xsd=2"/>
</xsd:schema>
</types>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<message name="uploadPlugin">
<part name="parameters" element="tns:uploadPlugin"/>
</message>
<message name="uploadPluginResponse">
<part name="parameters" element="tns:uploadPluginResponse"/>
</message>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<message name="stopPipeline">
<part name="parameters" element="tns:stopPipeline"/>
</message>
<message name="stopPipelineResponse">
<part name="parameters" element="tns:stopPipelineResponse"/>
</message>
<message name="notifyComplete">
<part name="parameters" element="tns:notifyComplete"/>
</message>
<message name="notifyCompleteResponse">
<part name="parameters" element="tns:notifyCompleteResponse"/>
</message>
<message name="definePipeline">
<part name="parameters" element="tns:definePipeline"/>
</message>
<message name="definePipelineResponse">
<part name="parameters" element="tns:definePipelineResponse"/>
</message>
<message name="updateRecords">
<part name="parameters" element="tns:updateRecords"/>
</message>
<message name="updateRecordsResponse">
<part name="parameters" element="tns:updateRecordsResponse"/>
</message>
<portType name="Master">
<operation name="init">
<input wsam:Action="http://rlaas.ua.pt/Master/initRequest" message="tns:init"/>
<output wsam:Action="http://rlaas.ua.pt/Master/initResponse" message="tns:initResponse"/>
</operation>
<operation name="uploadPlugin">
<input wsam:Action="http://rlaas.ua.pt/Master/uploadPluginRequest" message="tns:uploadPlugin"/>
<output wsam:Action="http://rlaas.ua.pt/Master/uploadPluginResponse" message="tns:uploadPluginResponse"/>
</operation>
<operation name="test">
<input wsam:Action="http://rlaas.ua.pt/Master/testRequest" message="tns:test"/>
<output wsam:Action="http://rlaas.ua.pt/Master/testResponse" message="tns:testResponse"/>
</operation>
<operation name="stopPipeline">
<input wsam:Action="http://rlaas.ua.pt/Master/stopPipelineRequest" message="tns:stopPipeline"/>
<output wsam:Action="http://rlaas.ua.pt/Master/stopPipelineResponse" message="tns:stopPipelineResponse"/>
</operation>
<operation name="notifyComplete">
<input wsam:Action="http://rlaas.ua.pt/Master/notifyCompleteRequest" message="tns:notifyComplete"/>
<output wsam:Action="http://rlaas.ua.pt/Master/notifyCompleteResponse" message="tns:notifyCompleteResponse"/>
</operation>
<operation name="definePipeline">
<input wsam:Action="http://rlaas.ua.pt/Master/definePipelineRequest" message="tns:definePipeline"/>
<output wsam:Action="http://rlaas.ua.pt/Master/definePipelineResponse" message="tns:definePipelineResponse"/>
</operation>
<operation name="updateRecords">
<input wsam:Action="http://rlaas.ua.pt/Master/updateRecordsRequest" message="tns:updateRecords"/>
<output wsam:Action="http://rlaas.ua.pt/Master/updateRecordsResponse" message="tns:updateRecordsResponse"/>
</operation>
</portType>
<binding name="MasterPortBinding" type="tns:Master">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="uploadPlugin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="stopPipeline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="notifyComplete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="definePipeline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateRecords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Master">
<port name="MasterPort" binding="tns:MasterPortBinding">
<soap:address location="http://localhost:8080/RL-Master/Master"/>
</port>
</service>
</definitions>